<!--menu-->

<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper blue lighten-1">
      <div class="container">
        <a class="brand-logo" href="#">
          <img
            class="my-logo"
            src="./assets/resources/images/familia_logo.png"
          />
        </a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="flow-text">Convidados</a></li>
          <li><a href="#" class="flow-text">Eventos</a></li>
          <li><a href="#" class="flow-text">Relatórios</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fim menu-->

  <!--Ancora definido no Menu anterior-->
  <ul class="sidenav blue lighten-1" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img
            class="circle responsive-img"
            src="./assets/resources/images/familia_logo.png"
          />
        </div>
      </div>
    </div>

    <li><a href="#" class="flow-text">Convidados</a></li>
    <li><a href="#" class="flow-text">Eventos</a></li>
    <li><a href="#" class="flow-text">Relatórios</a></li>
  </ul>
</div>
